!!! 5
html
  head
    link(rel='stylesheet', href='style.css')
    script(src='radial.js')
    script(src='raphael-min.js')
    script(src='sample.js')
  body
    #upperRight
    .wrapper
      ul.navigation#nav
        li
          a(href='http://www.attention8.dk') Attention 8
        li
          a(href='http://www.google.com') Google
        li
          a(href='http://www.example.com') Example.com

